/* Eric-Meyers reset first */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

*{
    box-sizing: border-box;
}

/*General styles*/
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
}

div{
    display: inline;
}

h2{
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #532491;
    font-weight: bolder;
}

h3{
    font-size: 1.5rem;
}

button:hover{
    background-color: #FFBC50;
    color: #532491;
    transform: scale(1.5);
    margin: 1.5%;
}

img:hover{
    border: 0.5rem solid #532491;
    border-radius: 50%;
}

/*Header section styles*/
#home{
    background-color: #532491;
    padding: 5%;
    
}

header h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: #FFBC50;
    margin: 0 5%;
}

header nav{
    margin: 0 10%;
}

header nav a button{
    margin: -0.5rem;
    padding: 0.5% 2%;
}

/*About section styles*/
#about{
    display: flex;
    align-items: stretch;
}

#about img{
    margin: 1%;
    width: 30%;
    height: 80%;
}

#about button{
    font-size: 1.5rem;
    padding: 0.5% 3%;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 5% 5% 5%;
    padding: 0;
}

.intro h2{
    padding: 5%;
}

.intro a{
   margin: 1% 5%;
}

.intro p{
    margin: 1% 5%;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-indent: 4%;
}

/*Project section styles*/

#projects{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}

#projects img{
    width: 90%;
    height: 70%;
}

.row1, .row2{
    display: flex;
    justify-content: space-evenly;
}

.col{
    text-align: center;
}

/*Footer section styles*/
#contact{
    text-align: center;
    background-color: #532491;
    padding: 5% 0 0 0;
}

#contact img{
    width: 4%;
    height: 4%;
    margin: 1% 1%;
    padding: 0.5%;
    border-bottom: 0.1rem solid #FFBC50;
}

#contact img:hover{
    transform: scale(1.5);
    border: none;
    margin: 1%;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.bottom h2{
    padding: 1%;
    color: #FFBC50;
}

.bottom button{
    font-size: 1.5rem;
    padding: 0.5% 3%;
}

/*Change style when width is 800px or lower*/
@media(max-width: 800px){
    /*general styles*/
    button:hover{
        background-color: #532491;
        color: #FFBC50;
        transform: none;
        margin: 0;
    }

    button{
        background-color: #532491;
        color: #FFBC50;
        margin: 5%;
        padding: 5%;
        border: none;
    }

    img:hover{
        border: none;
        border-radius: 0%;
    }

}

/*Change style when width is 500px or lower*/
@media(max-width: 500px){
    /*general styles*/
    img{
        border-radius: 30%;
    }
    /*about section styles*/
    #about{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #about h2{
        padding-bottom: 0;
    }
    
    #about .intro{
        display: flex;
        align-items: center;
    }

    #about .intro a {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: none;
        padding: 0;
    }

    #about .intro a button{
        margin: 0;
        margin-bottom: 2%;
    }
}